// COLORS

// FONT-FAMILY
$fontFamily: "Roboto";

// VARS
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;

// BREAKPOINTS
$b1: $maxWidthContainer + 12;
$b2: 991.98;
$b3: 767.98;
$b4: 479.98;
